{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section w-50 mt-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group text-light">
            <legend class="border-bottom mb-4 text-light">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group mt-1 mb-1">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>

</div>

{% endblock content %}