{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section w-50 mt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group text-light">
            <legend class="border-bottom mb-4 text-light">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group mt-1 mb-1">
            <button class="btn btn-primary" type="submit">Login</button>
            <a href="{% url 'password-reset' %}" class="text-decoration-none ms-3">Forgot password?</a>
        </div>
    </form>
    <div class="border-top pt-3 text-light">
        <small class=" text-light">
            Don't have an account? <a href="{% url 'register' %}" class="ml-2 btn btn-light">Register Now</a>
        </small>
    </div>
</div>

{% endblock content %}


